.header{
    background-color: rgb(245, 245, 245);
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;    
    height: 8rem;
}

@media (min-width: 25em) {
    .nav {
        height: 4rem;
    }
  }

.nav__logo{
    font-family: 'Sofia Sans', sans-serif;
    font-size: 1.5rem;
}